body {
  background-color: #343a40;
}
.text-align-center {
  text-align: center;
}
@media (max-width: 414px) {
  .style-sidebar {
    width: 60px !important;
  }

  li a {
    width: 20px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}
.style-card {
  width: 180px;
  border: 2px solid white;
}
.text-active {
  color: wheat;
  font-weight: bolder;
}